<div class="container mt-4">
  <h3>Lista de libros</h3>
  @if (message) {
  <div class="alert" [class.alert-success]="level == 'success'" [class.alert-danger]="level == 'error'">
    {{ message }}
  </div>
  }
  <hr>
  <div class="d-flex justify-content-start gap-2 flex-wrap">
    @if (bookResponse) {
    @for (book of bookResponse.content; track $index) {
    <book-card [book]="book" (borrow)="borrowBook($event)" />
    }
    } @else {
    <div class="alert alert-info">Recuperando lista de libros...</div>
    }
  </div>
  @if (bookResponse) {
  <div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="bookResponse.first">
          <a class="page-link" href="#" (click)="$event.preventDefault();goToFirstPage();" aria-label="Previous">
            <i class="fa-solid fa-angles-left"></i>
          </a>
        </li>
        <li class="page-item" [class.disabled]="bookResponse.first">
          <a class="page-link" href="#" (click)="$event.preventDefault();goToPreviousPage();" aria-label="Previous">
            <i class="fa-solid fa-angle-left"></i>
          </a>
        </li>

        @for (page of [].constructor(bookResponse.totalPages); track $index) {
        <li class="page-item" [class.active]="bookResponse.number == $index">
          <a class="page-link" href="#" (click)="$event.preventDefault();goToPage($index);">{{ $index + 1 }}</a>
        </li>
        }

        <li class="page-item" [class.disabled]="bookResponse.last">
          <a class="page-link" href="#" (click)="$event.preventDefault();goToNextPage();" aria-label="Next">
            <i class="fa-solid fa-angle-right"></i>
          </a>
        </li>
        <li class="page-item" [class.disabled]="bookResponse.last">
          <a class="page-link" href="#" (click)="$event.preventDefault();goToLastPage();" aria-label="Next">
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  }
</div>
