@if (returnedBooks) {
<div class="container mt-5">
  <h3>Lista de libros</h3>
  @if (message) {
  <div class="alert" [class.alert-success]="level == 'success'" [class.alert-danger]="level == 'error'">
    {{ message }}
  </div>
  }
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Título</th>
        <th scope="col">Autor</th>
        <th scope="col">ISBN</th>
        <th scope="col">Valoración</th>
        <th scope="col">
          <i class="fas fa-cogs"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (book of returnedBooks.content; track $index) {
      <tr>
        <td>{{ $index + 1 }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.authorName }}</td>
        <td>{{ book.isbn }}</td>
        <td>
          <i class="fas fa-star text-warning"></i> {{ book.rate }}
        </td>
        <td>
          <div class="d-flex gap-2">
            @if (book.returned) {
            <i class="fa-regular fa-paper-plane text-primary"></i>
            } @else {
            <i class="fa-solid fa-paper-plane text-success"></i>
            }
            <i class="fa-solid fa-circle-check cursor-pointer" (click)="approveBookReturn(book)"
              [class.text-success]="book.returnApproved"></i>
          </div>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="6">
          <div class="alert alert-info">No hay libros devueltos</div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-center mt-3">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="returnedBooks.first">
        <a class="page-link" href="#" (click)="$event.preventDefault();goToFirstPage();" aria-label="Previous">
          <i class="fa-solid fa-angles-left"></i>
        </a>
      </li>
      <li class="page-item" [class.disabled]="returnedBooks.first">
        <a class="page-link" href="#" (click)="$event.preventDefault();goToPreviousPage();" aria-label="Previous">
          <i class="fa-solid fa-angle-left"></i>
        </a>
      </li>

      @for (page of [].constructor(returnedBooks.totalPages); track $index) {
      <li class="page-item" [class.active]="returnedBooks.number == $index">
        <a class="page-link" href="#" (click)="$event.preventDefault();goToPage($index);">{{ $index + 1 }}</a>
      </li>
      }

      <li class="page-item" [class.disabled]="returnedBooks.last">
        <a class="page-link" href="#" (click)="$event.preventDefault();goToNextPage();" aria-label="Next">
          <i class="fa-solid fa-angle-right"></i>
        </a>
      </li>
      <li class="page-item" [class.disabled]="returnedBooks.last">
        <a class="page-link" href="#" (click)="$event.preventDefault();goToLastPage();" aria-label="Next">
          <i class="fa-solid fa-angles-right"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>

} @else {
<div class="alert alert-warning">Recuperando los libros devueltos...</div>
}
